.team-detail-page {
  padding: 20px;
  position: relative;
  width: 100vh;
  left: 100px;
  height: 80vh;
}

.team-detail-name {
  width: 250px;
  max-width: 250px;
}

.team-detail-name, .team-detail-league {
  font-size: 16px
}

.team-detail-title {
  font-size: 24px;
}

.team-detail-background {
  background-color: rgb(32, 44, 44);
  /* opacity: 90%; */
  width: 100vl;
  height: 80vh;
}

.team-detail-logo {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 80px;
  padding: 10px;
}

.team-detail-top {
  display: flex;
  flex-direction: row;
  height: 250px;
  /* justify-content: space-between */

}

.team-detail-league {
  display: flex;
  flex-direction: row;
}

.team-detail-league-name {
  margin-right: 150px;
}

.team-detail-logo-settings {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 600px;
}

.team-detail-settings {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 80px;
}

.team-detail-player {
  display: flex;
  flex-direction: row;
}


.team-roster-full {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: rgb(87, 84, 84);
  /* border-radius: 5px; */
  width: 550px;
  bottom: 50px;
}

.team-roster-name {
  min-width: 100px;
  width: 100px;
  padding: 5px;
  font-size: 10px
}

.team-roster-stat{
  min-width: 30px;
  width: 30px;
  padding: 5px;
  font-size: 10px
}

.team-roster {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 150px;
  width: 75%;
  max-width: 880px;
}

.team-detail-button {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.team-detail-count {
  position: relative;
  padding: 0px 10px;
  font-size: 12px;
}

.team-detail-delete {
  position: relative;
  bottom: 50px;
}
